/.bundle

/app
/config
/public
/vendor
/plugin
/db

# For emacs:
*~
\#*
.\#*

# sinplecov generate file
coverage.data
coverage

pkg

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

#bundler
.bundle
*.lock

#
# For MacOS:
#
.DS_Store

# For TextMate
#*.tmproj
#tmtags

# For vim:
#*.swp

# For redcar:
#.redcar

# For rubinius:
#*.rbc
