<p id="notice"><%%= notice %></p>

<%= show_format(archetype.definition) %>

<%%= link_to 'Edit', edit_<%= model_name %>_path(@<%= model_name %>) %> |
<%%= link_to 'Back', <%= model_name %>_index_path %>
