<p id="notice"><%%= notice %></p>

<%= show_format(archetype.definition) %>

<%%= link_to 'Edit', edit_<%= controller_name %>_path(id: @<%= model_name %>.id) %> |
<%%= link_to 'Back', <%= controller_name %>_index_path %>
